
builder {

    //message classes
    .message{
        height: 30px;
        text-align: left; 
        font-size: 12pt;
        padding-top: 5px;
        padding-left: 15px;
        font-family:'Roboto';
        position: absolute;
        top:0;
        left:0;
        width: 100%;
    }
    
    .error-message{
        color: #D8000C;
        background-color: #FFD2D2;
    }

    .warning-message{
        color: #9F6000;
        background-color: #FEEFB3;
    }

    .success-message{
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    .information-message{
        color: #00529B;
        background-color: #BDE5F8; 
    }



    .winner-color{
        background-color: rgb(151, 229, 151);
        color: color($colors,dark_text);
    }

    .loser-color{
        color: color($colors,dark_text);
    }

    .toggle-color{
        color: #FFBC1D;
    }

    .toggle-md {
        padding: 0;
    }

    .toggle-icon {
        padding: 0;
    }
    
    .backbet-tab{
        background-color: rgb(88, 78, 76);
        width: 80% !important; 
        margin: 0 auto;
        height: 360px;
    }

    .backbetlist-color-good{ 
        color: color($colors,dark_text);
        background-color:color($colors,light_blue);
    }

    .backbetlist-color-bad{
        // use transparency
        opacity: 0.2;
        color: color($colors,dark_text);
        background-color:color($colors,light_blue);
    }

    .searchbetlist{
        color: color($colors,dark_text);
        background-color:color($colors,light_orange);
    }

    .addbet-button{
        height: 40px;
        width: 100%;
        background-color: #FFBC1D;
        color: #000000;
        font-family:'Roboto';
        font-size: 20px;  
        padding: 0px;  
    }

    .searchbet-button{
        height: 40px;
        width: 100%;
        background-color: black;
        color: white;
        font-family:'Roboto';
        font-size: 16px;  
        padding: 0px;  
        border-style: solid !important;
        border-width: 1px !important;
        border-color: color($colors, "disabled") !important;
    }

    .toggle-button{
        width: 100%;
        background-color: black;
        color: white;
        font-family:'Roboto';
        font-size: 16px;  
        padding: 0px;  
        height: 40px !important;
        border-style: solid !important;
        border-width: 1px 0 1px 1px !important;
        border-color: color($colors, "disabled") !important;
    }

    .searchbet-button:hover{
        background-color: rgb(65, 64, 64);
        color: rgb(252, 249, 249);
    }
    
    .scroll-content{
        padding :0px !important;
    }

    .betodds{
        height: 30px;
        color: color($colors,dark_text);
        background-color:color($colors,dark_pink);
        font-family:'Roboto';
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    .backbetodds{
        height: 30px;
        color: #ffffff;
        background-color:color($colors,dark_blue);
        font-family:'Roboto';
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    .betodds-input{
        height: 40px;
        color: color($colors,dark_text);
        background-color:color($colors,light_pink);
        font-family:'Roboto';
        font-size: 16px;
        font-weight: normal;
        padding-top: 5px;
    }

    .backbetodds-input{
        height: 40px;
        color: color($colors,dark_text);
        background-color:color($colors,light_blue);
        font-family:'Roboto';
        font-size: 16px;
        font-weight: normal;
        padding-top: 5px;
    }
    
    .betodds-content{
        width: 80%;
        margin: 0 auto; 
        padding: 0px; 
        height: 200px; 
        background-color: transparent;
    }

    .button-style{
        padding: 0;
    }

    input.text-input-md input.text{
        margin: 4px 14px ;
    }

    #oddsinput-col{
        padding-left: 20px;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    .spinner{
        width: 20px; 
        height: 24px;
       padding: 0px;
    }

    .spinner-row{
        height: 12px;
        width: 5px;
    }
     .backers-col{
        width: 80%;
        padding-top: 3px; 
        padding-left: 20px; 
        padding-right: 30px; 
     }

     .backers-col .ion-logo-bitcoin {
         line-height: 1.2;
     }

     .nocontent{
        font-size: 48px;
        color: #8f8f8f; 
        padding-top: 100px;
     }

    .arrows{
        font-size: 16pt;
        padding-bottom: 5px;
        cursor: pointer;
    }
    
    input[type=number] {
        -moz-appearance:textfield;
    }

    .text-input-md{
        margin: 0px;
        margin-top: 3px !important;
    }

    ion-input.input-box input.input-md{
        height: 5px;
    }

    .input-box{
        height: 25px;
        width: 55%;
        background-color: white;
        float: right;
    }

    .addbet-button:hover{
        background-color:#cc9617;
    }

    .laybet-tab{
        background-color: rgb(70, 65, 64); 
        width: 80%; 
        margin: 0 auto;
        height: 360px;
    }
   
    .betlist-color-good{ 
        color: color($colors,dark_text);
        background-color:color($colors,light_pink);
    }

    .betlist-color-bad{
        // use transparency
        opacity: 0.2;
        color: color($colors,dark_text);
        background-color:color($colors,light_pink);
    }

    .normal-text{
        color: color($colors,dark_text);
    }
    
    .contentstyle{
        background-color: #000;
        height: 750px;
    }
    #smallicon{
        font-size: 20px;
    }

    .tabselected{
        color:#FFBC1D;
        cursor: pointer;
        font-weight: bold !important;
    }

    .tabnotselected {
        color: whitesmoke;
        cursor: pointer;
    }

    .scroll-content {
        overflow-y: auto !important;
     }

   .label-md{
        margin: 0 0 0 0 !important;  
    }
   
    ::-webkit-scrollbar-track
    {

    background-color: rgb(66, 39, 39)!important;
    }

    ::-webkit-scrollbar
    {

        background-color: rgb(66, 39, 39)!important;
    }

    ::-webkit-scrollbar-thumb
    {
    border-radius: 10px!important;
    background-color: rgb(66, 39, 39)!important;
    }  
}

.item-block{
    min-height: 0px !important;
    height: 80px !important;
}

.item-block .item-inner {
    border-bottom: 0 !important;
}

