betslip {

    .betslip-nav,
    .betslip-nav-selected {
        display: flex;
        align-items: center;
    }

    .betslip-nav {
        background-color: #1E1E1E;
    }

    .betslip-nav-selected {
        background-color: #333333;
    }

    .betslip-h2{
        padding-top: 5px; 
        padding-bottom: 5px;
        margin-left:0px;
        background-color: rgb(51, 51, 51);
    }

    .winner-color{
        background-color: rgb(151, 229, 151);
        color: color($colors,dark_text);
    }

    .loser-color{
        color: color($colors,dark_text);
    }

    .betslipbutton{
        height: 40px;
        width: 100%;
        background-color: #FFBC1D;
        color: rgb(17, 17, 17);
        font-family:'Roboto';
        font-size: 20px;  
        padding: 0px;  
    }

    .betslipbutton:hover{
        cursor:pointer;
        background-color: #cc9617;
    }

    .emptybutton {
        background-color: #1E1E1E;
        border: 1px solid #FFBC1D;
        color: #FFFFFF;
    }

    .emptybutton:hover {
        background-color: #1E1E1E;
        border: 1px solid #cc9617;
        color: #f5f5f5;
    }

    .tabselected{
        border-bottom: 2px solid #ffffff;
        color: #FFBC1D;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold !important;
        padding: 7px 0;
    }

    .tabnotselected {
        color: whitesmoke;
        cursor: pointer;
        font-size: 14px;
        padding: 7px 0;
    }

    .placetabselected{
        color: #FFBC1D;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold !important;
    }

    .placetabnotselected {
        color: whitesmoke;
        cursor: pointer;
        font-size: 14px;
    }

    .opentabselected{
        color: #FFBC1D;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold !important;
    }

    .opentabnotselected {
        color: whitesmoke;
        cursor: pointer;
        font-size: 14px;
    }

     .matched-tab{
        background-color: #1D1D1D;
        height: 680px;
    }
    .unmatched-tab{
        background-color: #1D1D1D;
        height: 680px;
    }
    .placedbets-tab{
        background-color: #333333;
        height: 550px;
    }

    .openbets-tab {
        background-color: #1D1D1D;
        height: 50px;
    }

    .openbets-tab .col:first-of-type {
        padding: 15px 0 15px 90px;
    }

    .openbets-tab .col:last-of-type {
        padding: 15px 90px 15px 0;
    }
    
    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end]{
        min-width: 0px;
        width: 0px;
    }

    .lay-paperclip{
        color: color($colors,dark_pink);
        font-size: 36px;
        text-align: left !important;
    }

    .back-paperclip{
        color: color($colors,dark_blue);
        font-size: 36px;
        text-align: left !important;
    }

    .notestyle{
        width:80%;
        text-align:center; 
        background-color: rgb(243, 243, 179);
        border-radius: 8px;
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        margin: 0 auto;
    }

    .notestyle .label {
        font-size: 14px;
    }

    .noterotate{
        -ms-transform: rotate(4deg); /* IE 9 */
        -webkit-transform: rotate(4deg); /* Safari */
        transform: rotate(4deg);
    }

    .textcontent{
        height: 60px !important;
        width: 95% !important;
        background-color: transparent;
        color: black;
        font-size: 12px;
        text-align: left;
    }

    .lay-matched-style-lost{
        height: 60px !important;
        width: 95% !important;
        border-style: solid;
        border-width: 4px;
        //background-color: rgb(255, 65, 65) !important;
        border-color: red;
        border-radius: 35%;
        color: black;
        font-size: 14px;
        text-align: left;
    }

    .back-matched-style-won{
        height: 60px !important;
        width: 95% !important;
        border-style: solid;
        border-width: 4px;
        //background-color: rgb(255, 65, 65) !important;
        border-color:green;
        border-radius: 35%;
        color: black;
        font-size: 14px;
        text-align: left;
    }

    .matched-style{
        height: 60px !important;
        width: 95% !important;
        background-color:transparent;
        color: black;
        font-size: 14px;
        text-align: left;
    }



    .stakecontent{
        height: 20px;
        color:color($colors,dark_text) ;
        font-size: 12px;
    }

    .notetext{
        width:100%;
        text-align:center; 
        background-color:transparent;
    }

    .contentstyle{
        margin: 0 auto;
       width: 100%;
       height: 700px;
       color: white;
       background-color: rgb(41, 43, 43);
       
    }

    .stake-title{
        background-color:color($colors,dark_pink);
        font-family: 'Roboto';
        font-weight: bold;
        padding:0;
    }

    .stake-content{
       background-color: color($colors,light_pink);
       font-family: 'Roboto';
       padding: 0;
    }

    .back-stake-title{
        background-color:color($colors,dark_blue);
        color: whitesmoke;
        font-family: 'Roboto';
        font-weight: bold;
        padding:0;
    }

    .back-stake-content{
        background-color: color($colors,light_blue);
        font-family: 'Roboto';
        padding: 0;
     }

    .scroll-content {
        overflow-y: auto !important;
     }

     .logo {
        position: relative; 
        left: -10%;
        top: 10px;
        width: 20px;
        height: 20px;
        z-index: 2;
      }

      .betslip-total {
          font-weight: 600;
          text-align: left;
      }

      #smallicon{
        font-size: 20px;
    }
}
