page-main {
   

 .toolbar-title-md{
     font-size: 30px;
     font-weight: bold;
 }

 .small-icon{
    color: orange;
 }

 .thin-row{
     height: 16px;
     font-size: 11pt;
 }

 .thick-row{
    height: 30px;
    font-size: 20pt;
}

 .maintitle{
 height: "200px" ;
 padding-top: 5px;
 }
}

    #leftpane {
    //display: inline-block;
    width: 20%;
    float: left;
   }

   #centerpane {
    //display: inline-block;
    width: 20%;
    float: left;
   }

   #rightpane {
    //display: inline-block;
    width: 20%;
    float: right;
   }

