// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
$toolbar-ios-title-text-align: center;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  overlay_oxford_blue: rgba(0, 38, 66, 0.7),
  deep_sky_blue: #00BEF4, // highlight+  primary button start
  bright_cerulean: #2FA5E6,
  oxford_blue: #002440, //primary_bg
  dark_cerulean: #004378, //secondary_bg + disable btn start
  medium_teal_blue: #005CB7,  //third_bg + primary button  end
  lapis_lazuli: #1563A0, // primary border
  medium_electric_blue: #005CB7, // back bg + disable btn end
  true_blue: #0774de,
  midnight_blue: #003769,
  midnight_blue_border: #064b88,
  teamname_blue: #6f8ba3,
  bright_turquoise: #20E7ED, // only used for lay hightly
  mid-teal: #008487, //lay btn bg  main
  skobeloff: #05696B, // lay header bg only
  jungle_green: #359C9F,  //lay border only
  blue_green: #129CA0,
  dark_cyan: #00a48b, // lay btn bg
  mid-green: #02CB43,
  cream: #F8EBDA,
  light_pink: #ffdee0,
  medium_pink: rgb(247, 196, 198),
  dark_pink: #ffacb2,
  dark_gray: #A9A9A9,
  outer_space: #4A4A4A,
  teamname_grey: #bfbfbf,
  disabled: lightslategray,
  dark_text: rgb(59, 59, 59),
  light_blue: #b4caff,
  medium_blue: rgb(160, 217, 241),
  dark_blue: #447AFF,
  //light_orange: rgb(252, 210, 156),
  dark_orange: orange,
  light_orange: rgb(255, 216, 145),

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
