
<div class="left-menu-sport"  >
  <h2 class="markets-h2">All Sports</h2>
    <div >
        <div *ngFor="let sport of sports" (click)="onSelect(sport)">
            <div>
                <ion-item no-lines>
                        <ion-label [class]="sport.id==thissportlist ? 'sportliston' : 'sportlistoff'" (click)="setsport(sport.id)">
                            <ion-icon [color]="sport.id==thissportlist ? 'orange' : 'white'" item-start [name]="sport.icon" ></ion-icon>
                            {{sport.sport}}
                        </ion-label>                    
                </ion-item> 
                <div style = "background-color: rgb(51, 51, 51)"*ngFor="let event of sportevents" (click)="onSelectEvent(event)"> 
                        <div *ngIf="sport.id==sportsId && event.sport == sport.id">
                            
                            <ion-label [class]="event.id==thiseventlist ? 'eventliston' : 'eventlistoff'" (click)="setevent(event.id)"> 
                                    <ion-icon class="eventicon" [color]="event.id==thiseventlist ? 'orange' : 'white'" name="arrow-dropright"  ></ion-icon>
                                {{event.event}}
                            </ion-label>
                            <!-- List all dates for each event-->
                            <div *ngFor="let marketdate of marketdates">
                                <div class="marketdatestyle" *ngIf="event.id==eventsId && marketdate.event==event.id" >
                                    <label class="marketdate">{{marketdate.date}}</label>
                                    <!-- list all markets in event-->
                                    <div *ngFor="let market of markets" (click)="onSelectMarket(market)"> 
                                            
                                        <div *ngIf="event.id==eventsId && market.event==event.id && marketdate.id==market.date" >
                                                <ion-label [class]="market.id==thismarketlist ? 'marketliston' : 'marketlistoff'" (click)="setmarket(market.id)">
                                                     
                                                    <ion-icon class="marketicon" [color]="market.id==thismarketlist ? 'orange' : 'white'" name="arrow-dropright" ></ion-icon> 
                                                    {{market.market1}} v {{market.market2}}
                                                </ion-label>
                                                
                                                <!--Moneyline-->
                                                <div *ngIf="market.id==marketId">  
                                                    <label class="overunder">Moneyline</label>
                                                </div>
                                                <div *ngFor="let betwin of betwins"> 
                                                    <div *ngIf="sport.id == betwin.sport && market.id==marketId">   
                                                        <label class="betlist" (click)="addMatch(sport,event,market,marketdate,betwin,'')">{{getWinner(betwin.win,market)}} </label>
                                                    </div>
                                                </div>
                                                <!-- Over/Under-->
                                                <div *ngIf="market.id==marketId">  
                                                    <label class="overunder">OVER/UNDER</label>
                                                </div>
                                                <div *ngFor="let range of sport.overunder.range"> 
                                                    <div *ngIf="market.id==marketId">                           
                                                        <ion-label [class]= "thisoverunder==range ? 'overunderon' : 'overunderoff'" (click)="setoverunder(range)">
                                                            <ion-icon class="overundericon" [color]="thisoverunder==range ? 'orange' : 'white'" name="arrow-dropright" ></ion-icon> 
                                                            OVER/UNDER {{range}} {{sport.overunder.type}}
                                                        </ion-label>
                                                        <div *ngIf="thisoverunder==range"> 
                                                            <div class="overorunder" (click)="addMatch(sport,event,market,marketdate,'',setRange(sport,range,1))">Over</div>
                                                            <div class="overorunder" (click)="addMatch(sport,event,market,marketdate,'',setRange(sport,range,2))">Under</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
    
  </div>
  
  
  
