markets {
   
    .markets-h2{
        padding-top: 5px; 
        padding-bottom: 5px;
        margin-left:0px;
        background-color: rgb(51, 51, 51);
    }

    #smallicon{
        font-size: 16px;
        padding-top: 5px;
    }

    .item-md{
        background-color: transparent;
    }

    .item-block{
        height: 30px !important;
        min-height: 20px !important;
    }

    .sportlistoff{
        color: white;
        font-size: 18px;
        font-weight: bold; 
        font-family: 'Roboto';
        padding-left: 0px;
        margin-left: 0px;
        cursor:pointer;
    }

    .sportliston{
        color:orange;
        font-size: 18px;
        font-weight: bold; 
        font-family:'Roboto';
        padding-left: 0px;
        margin-left: 0px;
        cursor:pointer;
    }
    
    .sportlistoff:hover { 
        color: orange;
        cursor: pointer;
    }
    
    .eventicon{
        font-size: 18px;
        padding-left: 45px;
    }

    .eventicon:hover{
        color :orange;
        cursor: pointer;
    }

    .eventliston{
        color: orange;
        font-size: 16px;
        font-weight: bold; 
        font-family:'Roboto';
    }

    .eventlistoff{
        color: white;
        font-size: 16px;
        font-weight: bold; 
        font-family:'Roboto';
    }
    
    .eventlistoff:hover { 
        color :orange;
        cursor: pointer;
    }
    
    .marketdate{
        color:rgb(209, 156, 104);
        font-size: 12px;
        font-weight: bold; 
        font-family:'Roboto';
        padding-left: 55px;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    .marketdatestyle{
        padding-top: 10px;
        padding-bottom: 10px; 
        border-width: 2px; 
        border-bottom-style: inset;
        border-bottom-color: rgb(75, 74, 74); 
    }
    
    .marketliston{
        color: orange;
        font-size: 16px;
        font-weight: normal; 
        font-family:'Roboto';
    }
    
    .marketlistoff{
        color: white;
        font-size: 16px;
        font-weight: normal; 
        font-family:'Roboto';
    }
    
    .marketlistoff:hover { 
        color : orange;
        cursor: pointer;
    }

    .marketicon{
        font-size: 18px;
        padding-left: 60px;
    }

    .marketicon:hover{
        color :orange;
        cursor: pointer;
    }

    .betlist{
        color: white;
        font-size: 16px;
        font-weight: normal; 
        font-family:'Roboto';
        padding-left: 80px;
       
    }

    .betlist:hover { 
        color :orange;
        cursor: pointer;
    }


}
