markets {
   
    .markets-h2{
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.7px;
        margin-top: 15px !important;
        margin-left: 10px;
        padding-top: 0; 
        padding-bottom: 0;
        text-transform: uppercase;
        
    }

    .menu-item .item{
        // padding-left: 20px;
    }

    #smallicon{
        font-size: 16px;
        padding-top: 5px;
    }

    .item-md{
        background-color: transparent;
        padding-left: 0;
    }

    .item-block{
        height: 40px !important;
        min-height: 20px !important;
    }

    .item-inner {
        padding-right: 0 !important;
    }

    .item-inner .icon {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    .sportlistoff{
        background-color: #1E1E1E;
        color: white;
        font-size: 14px;
        font-weight: 500; 
        font-family: 'Roboto';
        padding-left: 20px;
        margin-left: 0px;
        cursor:pointer;
        transition: background-color 0.2s ease;
    }

    .sportliston{
        color:#FFBC1D;
        font-size: 14px;
        font-weight: 500; 
        font-family:'Roboto';
        padding-left: 20px;
        margin-left: 0px;
        cursor:pointer;
        transition: background-color 0.2s ease;

    }
    
    .sportlistoff:hover {
        background-color: #353535;
        color: #FFBC1D;
        cursor: pointer;
    }
    
    .eventicon{
        font-size: 18px;
        padding-left: 45px;
        margin: 10px 3px 10px 0;
    }

    .eventicon:hover{
        color :#FFBC1D;
        cursor: pointer;
    }

    .eventliston{
        color: #FFBC1D;
        font-size: 14px;
        font-weight: 500; 
        font-family:'Roboto';
    }

    .eventlistoff{
        color: white;
        font-size: 14px;
        font-weight: 500; 
        font-family:'Roboto';
    }
    
    .eventlistoff:hover { 
        color :#FFBC1D;
        cursor: pointer;
    }

    .market-label {
        display: block;
        margin-top: 10px;
    }
    
    .marketdate{
        color: #ECECEC;
        font-size: 12px;
        font-weight: 500; 
        font-family:'Roboto';
        padding-left: 55px;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    .overunder{
        color:#ECECEC;
        font-size: 14px;
        font-weight: 500; 
        font-family:'Roboto';
        padding-left: 80px;
        padding-bottom: 20px;
        margin-top: 20px;
        text-transform: uppercase;
    }


    .marketdatestyle{
        padding-bottom: 10px; 
        border-width: 2px; 
        border-bottom-style: inset;
        border-bottom-color: rgb(75, 74, 74); 
    }
    
    .marketliston{
        color: #FFBC1D;
        font-size: 14px;
        font-weight: 700; 
        font-family:'Roboto';
        margin: 5px 0;
    }
    
    .marketlistoff{
        color: white;
        font-size: 14px;
        font-weight: 700; 
        font-family:'Roboto';
        margin: 5px 0;
    }
    
    .marketlistoff:hover { 
        color : #FFBC1D;
        cursor: pointer;
    }

    .marketicon{
        font-size: 18px;
        padding-left: 60px;
    }

    .marketicon:hover{
        color :#FFBC1D;
        cursor: pointer;
    }

    .overundericon {
        font-size: 18px;
        padding-left: 80px;
    }

    .overundericon:hover{
        color :#FFBC1D;
        cursor: pointer;
    }


    .betlist{
        color: white;
        font-size: 14px;
        font-weight: normal; 
        font-family:'Roboto';
        padding-left: 80px;
    }

    .overunderon{
        color: #FFBC1D;
        font-size: 14px;
        font-weight: normal; 
        font-family:'Roboto';
    }
    
    .overunderoff{
        color: white;
        font-size: 14px;
        font-weight: normal; 
        font-family:'Roboto';
    }

    .overunderoff:hover { 
        color :#FFBC1D;
        cursor: pointer;
    }

    .betlist:hover { 
        color :#FFBC1D;
        cursor: pointer;
    }

    .overorunder{
        color: white;
        font-size: 14px;
        font-weight: normal; 
        font-family:'Roboto';
        line-height: normal;
        padding-left: 100px;
        // height: "18px";
    }

    .overorunder:last-of-type {
        margin-bottom: 3px;
    }

    .overorunder:hover{
        color: #FFBC1D;
        cursor: pointer;
    }


}
